<div class="board-of-directors section-py content-wrapper relative">
    <img class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-[-1]" src="./assets/imgs/borad-of-directors-lines-frame.png" alt="" />
    <h2 class="text-2xl text-primary font-bold flex flex-col mb-4 items-center">
        <span>أعضاء مجلس إدارة شركة</span>
        <span>سهم المالية</span>
    </h2>
    <div class="flex gap-4 flex-wrap justify-center">
        <!-- cards -->
        <div class="w-[205px] bg-white">
            <img class="rounded-xl h-[260px] border-b-[15px] border-[#1A1A1A] object-cover"
                src="./assets/imgs/member-1.png" alt="" />
            <div class="flex flex-col gap-2 mt-2">
                <a href="#">
                    <h5 class="text-sm font-bold tracking-tight text-gray-900">
                        Member
                    </h5>
                </a>
                <p class="text-sm font-semibold text-[#4D4D4D]">
                    Member of the Board of Directors
                </p>
            </div>
        </div>
        <div class="w-[205px] bg-white">
            <img class="rounded-xl h-[260px] border-b-[15px] border-[#1A1A1A] object-cover"
                src="./assets/imgs/member-2.png" alt="" />
            <div class="flex flex-col gap-2 mt-2">
                <a href="#">
                    <h5 class="text-sm font-bold tracking-tight text-gray-900">
                        Member
                    </h5>
                </a>
                <p class="text-sm font-semibold text-[#4D4D4D]">
                    Member of the Board of Directors
                </p>
            </div>
        </div>
        <div class="w-[205px] bg-white">
            <img class="rounded-xl h-[260px] border-b-[15px] border-[#1A1A1A] object-cover"
                src="./assets/imgs/member-3.png" alt="" />
            <div class="flex flex-col gap-2 mt-2">
                <a href="#">
                    <h5 class="text-sm font-bold tracking-tight text-gray-900">
                        Member
                    </h5>
                </a>
                <p class="text-sm font-semibold text-[#4D4D4D]">
                    Member of the Board of Directors
                </p>
            </div>
        </div>
        <div class="w-[205px] bg-white">
            <img class="rounded-xl h-[260px] border-b-[15px] border-[#1A1A1A] object-cover"
                src="./assets/imgs/member-4.png" alt="" />
            <div class="flex flex-col gap-2 mt-2">
                <a href="#">
                    <h5 class="text-sm font-bold tracking-tight text-gray-900">
                        Member
                    </h5>
                </a>
                <p class="text-sm font-semibold text-[#4D4D4D]">
                    Member of the Board of Directors
                </p>
            </div>
        </div>
        <div class="w-[205px] bg-white">
            <img class="rounded-xl h-[260px] border-b-[15px] border-[#1A1A1A] object-cover"
                src="./assets/imgs/member-5.png" alt="" />
            <div class="flex flex-col gap-2 mt-2">
                <a href="#">
                    <h5 class="text-sm font-bold tracking-tight text-gray-900">
                        Member
                    </h5>
                </a>
                <p class="text-sm font-semibold text-[#4D4D4D]">
                    Member of the Board of Directors
                </p>
            </div>
        </div>
    </div>
</div>