<div id="faqs" class="faqs bg-[#F7F7F7] section-py">
    <div class="content-wrapper">
        <h2 class="section-title mb-12">أسئلة شائعة</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 *:cursor-pointer">
            <div class="p-6 bg-white border border-[#DBDBDB] rounded-lg flex gap-6">
                <img src="./assets/svgs/plus.svg" alt="plus">
                <span class="text-xl font-bold">كيف أعرف الفرص الجديدة؟</span>
            </div>
            <div class="p-6 bg-white border border-[#DBDBDB] rounded-lg flex gap-6">
                <img src="./assets/svgs/plus.svg" alt="plus">
                <span class="text-xl font-bold">كيف يمكنني استثمار مع ساهم؟</span>
            </div>
            <div class="p-6 bg-white border border-[#DBDBDB] rounded-lg flex gap-6">
                <img src="./assets/svgs/plus.svg" alt="plus">
                <span class="text-xl font-bold">كيف أعرف الفرص الجديدة؟</span>
            </div>
            <div class="p-6 bg-white border border-[#DBDBDB] rounded-lg flex gap-6">
                <img src="./assets/svgs/plus.svg" alt="plus">
                <span class="text-xl font-bold">كيف يمكنني استثمار مع ساهم؟</span>
            </div>
        </div>
    </div>
</div>