<div
    class="flex justify-between items-center flex-wrap lg:flex-nowrap gap-20 p-6 pe-20 border-t border-[#DBDBDB]">
    <div class="flex justify-center items-start flex-col gap-6 xl:flex-1">
        <img src="./assets/imgs/main-logo.png" alt="logo">
        <p>شركة منصة ساهم المالية هي شركة سعودية تعمل في قطاع التكنولوجيا المالية، مرخصة من هيئة السوق المالية. تأسست عام ٢٠٢٢ على يد مؤسسين سعوديين يتمتعون بخبرة عالية وخلفيات مالية متخصصة وتجارب عقارية ثرية.</p>
        <div class="social-media-buttons flex gap-6">
            <a href="#" target="_blank">
                <img src="./assets/svgs/facebook.svg" alt="facebook" />
            </a>
            <a href="#" target="_blank">
                <img src="./assets/svgs/twitter.svg" alt="twitter" />
            </a>
            <a href="#" target="_blank">
                <img src="./assets/svgs/instagram.svg" alt="instagram" />
            </a>
            <a href="#" target="_blank">
                <img src="./assets/svgs/snapchat.svg" alt="snapchat" />
            </a>
        </div>
    </div>
    <div
        class="flex flex-wrap xl:flex-[1] gap-6 lg:gap-2 justify-between lg:justify-between w-full text-[#777777] ">
        <div>
            <h2 class="text-xl text-primary font-bold mb-4">المعلومات</h2>
            <ul class="flex flex-col gap-2">
                <li>
                    <a href="#">الأسئلة الشائعة</a>
                </li>
                <li>
                    <a href="#">الشروط والاحكام</a>
                </li>
                <li>
                    <a href="#">سياسة الخصوصية</a>
                </li>
            </ul>
        </div>
        <div>
            <h2 class="text-xl text-primary font-bold mb-4">المعلومات</h2>
            <ul class="flex flex-col gap-2">
                <li>
                    <a href="#">عن التطبيق</a>
                </li>
                <li>
                    <a href="#"">سياسة الاستخدام</a>
                </li>
            </ul>
        </div>
        <div>
            <h2 class="text-xl text-primary font-bold mb-4">اتصل بنا</h2>
            <ul class="flex flex-col gap-2">
                <li class="flex gap-2 items-center">
                    <img src="./assets/svgs/locationMarker.svg" alt="" />
                    <span>الرياض- السعودية</span>
                </li>
                <li class="flex gap-2 items-center">
                    <img src="./assets/svgs/call.svg" alt="">
                    <span dir="ltr">920014233</span>
                </li>
                <li>
                    <a class="flex gap-2 items-center" href="#">
                        <img src="./assets/svgs/email.svg" class="shrink-0" />
                        info@sahem.com
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>