<div
    class="header flex items-center justify-between content-wrapper p-4 mx-auto rounded-lg bg-[#FFFFFF80] backdrop-blur-md fixed top-4 left-0 right-0 z-[1000] shadow-md">
    <img class="h-12" src="./assets/imgs/main-logo.png" alt="logo" />
    <!-- nav -->
    <ul class="nav gap-2 hidden lg:flex">
        <li class="nav-item">
            <a class="font-bold py-4 px-6" href="/">الصفحة الرئيسية</a>
        </li>
        <li class="nav-item">
            <a class="font-bold py-4 px-6" href="/#aboutus">من نحن</a>
        </li>
        <li class="nav-item">
            <a class="font-bold py-4 px-6" href="/#contactus">تواصل معنا</a>
        </li>
        <li class="nav-item">
            <a class="font-bold py-4 px-6" href="/#faqs">الأسئلة الشائعة</a>
        </li>
        <li class="nav-item">
            <a class="font-bold py-4 px-6" href="/financing-request.html">طلب تمويل</a>
        </li>
    </ul>
    <div class="flex gap-2">
        <button type="button"
            class="flex gap-2 items-center py-2.5 px-5 text-sm font-semibold text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200">
            <span>English</span>
            <img src="./assets/svgs/locale.svg" alt="locale" />
        </button>
        <img class="toggle-sidebar cursor-pointer lg:hidden" src="./assets/svgs/burger.svg" alt="toggle-sidebar">
        <!-- <button type="button"
                class="flex gap-2 items-center text-white bg-[#2854DB] font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none">
                <span>دخول</span>
                <img src="./assets/imgs/arrow-down.svg" alt="arrow-down" />
            </button> -->
    </div>
</div>