<div class="investment-journey bg-[#2559F90D] section-py">
    <div class="content-wrapper">
        <h2 class="section-title flex flex-col md:flex-row gap-4 justify-between items-center">
            <span>خطواتك نحو الاستثمار العقاري مع ساهم:</span>
            <button type="button"
                class="flex gap-2 items-center text-white bg-[#2854DB] font-semibold rounded-lg text-xl px-4 py-3 focus:outline-none">
                <span>استثمر الأن</span>
                <img src="./assets/svgs/arrow-down.svg" alt="arrow-down" />
            </button>
        </h2>
        <div
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 *:cursor-pointer *:flex *:flex-col *:gap-6 *:items-start">
            <div class="p-6 bg-white rounded-xl">
                <span
                    class="w-12 h-12 bg-[var(--primary-color)] text-white rounded-2xl flex items-center justify-center">
                    <img src="./assets/svgs/download.svg" alt="download">
                </span>
                <span class="text-xl font-semibold leading-8">حمل التطبيق من الاستور </span>
            </div>
            <div class="p-6 bg-white rounded-xl">
                <span
                    class="w-12 h-12 bg-[var(--primary-color)] text-white rounded-2xl flex items-center justify-center">
                    <img src="./assets/svgs/userEdit.svg" alt="user-edit">
                </span>
                <span class="text-xl font-semibold leading-8">أنشئ حسابك خلال دقائق.</span>
            </div>
            <div class="p-6 bg-white rounded-xl">
                <span
                    class="w-12 h-12 bg-[var(--primary-color)] text-white rounded-2xl flex items-center justify-center">
                    <img src="./assets/svgs/investment.svg" alt="investment">
                </span>
                <span class="text-xl font-semibold leading-8">استثمر في المشاريع المتاحة عند توفرها.</span>
            </div>
            <div class="p-6 bg-white rounded-xl">
                <span
                    class="w-12 h-12 bg-[var(--primary-color)] text-white rounded-2xl flex items-center justify-center">
                    <img src="./assets/svgs/upInvestment.svg" alt="up-investment">
                </span>
                <span class="text-xl font-semibold leading-8">تابع تطور استثمارك وحقق أرباحك</span>
            </div>
        </div>
    </div>
</div>