<div class="latest-completed-projects section-py">
    <div class="content-wrapper">
        <h2 class="section-title section-mb">احدث المشاريع المكتملة عبر ساهم</h2>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 *:cursor-pointer">
            <img src="./assets/imgs/project.png" class="w-[360px] h-[360px] rounded-2xl" alt="project">
            <img src="./assets/imgs/project.png" class="w-[360px] h-[360px] rounded-2xl" alt="project">
            <img src="./assets/imgs/project.png" class="w-[360px] h-[360px] rounded-2xl" alt="project">
        </div>
        <div class="latest-completed-projects__footer flex gap-4 mt-8">
            <button class="button w-[56px] h-[56px] rounded-full bg-[#1D46C31A]">
                <img src="./assets/svgs/angleRight.svg" alt="angleRight">
            </button>
            <button class="button w-[56px] h-[56px] rounded-full bg-[#1D46C31A]">
                <img src="./assets/svgs/angleLeft.svg" alt="angleLeft">
            </button>
        </div>
    </div>
</div>