<div class="sidebar fixed top-0 left-0 w-64 h-screen p-4 overflow-y-auto transition-transform bg-white" tabindex="-1"
    aria-labelledby="drawer-navigation-label">
    <div class="flex w-full gap-2 items-center">
        <img class="h-12" src="./assets/imgs/main-logo.png" alt="logo" />
    </div>
    <div class="py-4 overflow-y-auto no-scrollbar">
        <ul class="nav mt-6 flex flex-col gap-3 *:flex *:items-center *:gap-1 *:rounded-2xl">
            <li class="nav-item py-4 px-6">
                <a class="font-bold" href="/">الصفحة الرئيسية</a>
            </li>
            <li class="nav-item">
                <a class="font-bold py-4 px-6" href="/#aboutus">من نحن</a>
            </li>
            <li class="nav-item">
                <a class="font-bold py-4 px-6" href="/#contactus">تواصل معنا</a>
            </li>
            <li class="nav-item">
                <a class="font-bold py-4 px-6" href="/#faqs">الأسئلة الشائعة</a>
            </li>
            <li class="nav-item">
                <a class="font-bold py-4 px-6" href="/financing-request.html">طلب تمويل</a>
            </li>
        </ul>
    </div>
</div>
<div class="overlay bg-gray-900/50 fixed inset-0" />