<section id="aboutus" class="section-py with-sahem-carousel">
    <div class="content-wrapper relative">
        <img class="absolute -top-20 rtl:left-0 ltr:right-0 z-[-1]" src="./assets/imgs/with-sahem-lines-frame.png"
            alt="" />
        <div
            class="flex flex-col flex-col-reverse mt-6 lg:mt-0 justify-center flex-wrap lg:flex-row lg:flex-nowrap gap-8 items-center">
            <div class="w-[460px] h-[400px] rounded-2xl image-wrapper relative">
                <img class="w-full h-full object-cover" src="./assets/imgs/with-sahem-image.png" alt="with-sahem" />
                <button type="button"
                    class="flex gap-3 items-center py-2 px-6 text-xl font-semibold text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 absolute bottom-0 translate-y-1/2 left-1/2 -translate-x-1/2 w-max">
                    <span>تحميل التطبيق</span>
                    <span class="w-8 h-8 bg-white rounded-lg shadow-md flex items-center justify-center">
                        <img src="./assets/svgs/apple.svg" alt="apple" />
                    </span>
                    <span class="w-8 h-8 bg-white rounded-lg shadow-md flex items-center justify-center">
                        <img src="./assets/svgs/googlePlay.svg" alt="playstore" />
                    </span>
                </button>
            </div>
            <div class="flex flex-col gap-6 items-center lg:items-start">
                <div class="flex flex-col gap-16">
                    <div class="flex flex-col gap-6 items-center lg:items-start">
                        <h2 class="text-title">مع ساهم...!</h2>
                        <p class="text-primary text-2xl font-semibold">الاستثمار العقاري أصبح متاحًا للجميع</p>
                    </div>
                    <div class="flex flex-col gap-6 items-center lg:items-start">
                        <h4 class="text-[#181C88] text-2xl font-extrabold">ابدء الاستثمار</h4>
                        <p class="text-xl font-semibold text-center lg:text-start">استثمار يبدأ من 1,000 ريال فقط: يمكنك الدخول للسوق العقاري
                            بمبلغ يناسب إمكانياتك.</p>
                    </div>
                </div>
                <div class="flex gap-2">
                    <span class="w-5 h-5 bg-primary rounded-full"></span>
                    <span class="w-5 h-5 bg-primary-100 rounded-full"></span>
                    <span class="w-5 h-5 bg-primary-100 rounded-full"></span>
                    <span class="w-5 h-5 bg-primary-100 rounded-full"></span>
                    <span class="w-5 h-5 bg-primary-100 rounded-full"></span>
                    <span class="w-5 h-5 bg-primary-100 rounded-full"></span>
                    <span class="w-5 h-5 bg-primary-100 rounded-full"></span>
                    <span class="w-5 h-5 bg-primary-100 rounded-full"></span>
                </div>
            </div>

        </div>
    </div>
</section>

<style scoped>
    .with-sahem-carousel .image-wrapper {
        background: radial-gradient(97.95% 157.43% at 4.63% 6.69%, rgba(37, 89, 249, 0.3) 0%, rgba(255, 255, 255, 0.225188) 43.75%, rgba(37, 89, 249, 0.24) 100%)
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
        ;
    }
</style>